{% extends "base.html" %}

{% block content %}
   <h1>Add a read book to your library</h1>
   <div class="add-book-container">
   <p><img src="{{book_img_thumbnail}}"></p>
   <input type="hidden" value="{{book_img_thumbnail}}" name="book_img_thumbnail">
   <form action="/book-confirmation" method="post">
   <p>{{book_title}}</p>
   <input type="hidden" value="{{book_title}}" name="book_title">
   <p>{{author_name}}</p>
   <input type="hidden" value="{{author_name}}" name="author_name">
   <p>{{book_description}}</p>
   <input type="hidden" value="{{book_description}}" name="book_description">

   {% if reader|length == 0 %}
   <p>No readers yet. Go to <a href='/add-reader'>Add Reader</a> to start tracking for a new reader.</p>
   {% else %}
   <p><strong>Which reader?</strong></p>
   {% for reader in reader %}
   <input type="checkbox" name="reader_id" value="{{reader.id}}">{{reader.first_name}} <br>
   <!-- <input type="hidden" value="{{reader.id}}" name="reader_id"> <br> Fix shitty styling -->
   {% endfor %}
   <!-- <form id="ratings-form">
       <span>Child's Name:</span><br>
       <input type="text" name="child_name"><br>
       <label for="start">Date Read:</label><br>
       <input type="date" id="start" name="date_read"><br>

        <span>Rating:</span><br>
        <select name="rating">
        <option>How was it?</option>
        <option>*</option>
        <option>**</option>
        <option>***</option>
        <option>****</option>
        <option>*****</option>
    </select> -->
    <!-- Fix later with better styling -->
    <!-- <br>
   </form>
   <p>Enter any comments from you or your child about the book here. e.g. Fiona loved it!</p>
   <textarea form="ratings-form"></textarea> -->
   <button id="submitButton">Submit</button>
   </form>
   {% endif %}
{% endblock %}