<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
   <h1>Edit read book from your library</h1>
   <div class="edit-book-container">
   <form action="/edit-confirmation" method="post">
    <input type="hidden" name="book-id" value="{{book.id}}">
    <input type="text" name="book-title" value="{{book.title}}"><br><br>
    <input type="text" name="book-author" value="{{book.author}}"><br><br>
    <input type="text" name="book-description" value="{{book.description}}"><br><br>
   <button id="submitButton">Submit</button>
   </form>
{% endblock %}