
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>1kb4K</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="static/js/script.js"></script>
</head>
   
<body>
    <a href="/library">Library</a>
    <a href="/add-reader">Add a Reader</a>
    <div class="inputSection">
    <h1>Enter an ISBN number to find a book to add to your library</h1>
    <input id="user-isbn" type="text" name="isbn">
    <button id="submitButton">Submit</button>
    </div>
    <div id="content"></div>
  <div id="root"></div>
</body>
</html>
